@import '~antd/dist/antd.css';
// @import '@/styles/variables';
// @import '@/styles/mixin';

* {
	padding: 0;
	margin: 0;
}
.App,
#root,
html,
body {
	height: 100%;
}

@mixin commonFlex() {
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
	font-weight: 700;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
	outline: none;
}
