$font-size-very-large: 18px;
$primary-color: #1890ff;

$global-header: 45;
$global-header-color: #184674;
$global-footer: 30;
$global-footer-color: #184674;

$global-texture-color: linear-gradient(to bottom right, #cccccc, snow, white, snow, snow, snow, $global-header-color);

$formdata-specialTips-color: red;
$formdata-list-backgroundColor: #d7d7d7;

// :export {
//   font-size-very-large: $font-size-very-large;
//   primary-color: $primary-color;
// }
