@import '@/styles/variables';
.formdata-frame {
  .tipsStyle {
    label {
      color: $formdata-specialTips-color;
    }
  }
  
  .textSoLong {
    label {
      line-height: 20px;
    }
  }
  
  
  .ant-picker {
    width: 100%;
  }
}